absl-py==1.4.0
accelerate==0.21.0
acres==0.3.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.21.0
alembic==1.13.2
altair==5.2.0
altgraph==0.17.4
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appnope==0.1.3
asgiref==3.9.0
asttokens==2.4.0
astunparse==1.6.3
attrs==23.1.0
Authlib==1.6.3
Automat==24.8.1
autopep8==2.0.2
backcall==0.2.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
boltons==23.1.1
boto==2.49.0
boto3==1.40.40
botocore==1.40.40
Brotli==1.1.0
bs4==0.0.1
build==1.2.2.post1
cachetools==5.3.0
catalogue==2.0.10
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
ci-info==0.3.0
cinemagoer==2023.5.1
click==8.1.7
click-default-group==1.2.4
cloudpathlib==0.16.0
cloup==0.13.1
coloredlogs==15.0.1
colour==0.1.5
comm==0.1.4
confection==0.1.4
configobj==5.0.9
configparser==7.2.0
constantly==23.10.4
contourpy==1.0.7
cryptography==44.0.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.8
Cython==3.1.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
distro==1.9.0
dnspython==2.7.0
docutils==0.20.1
durationpy==0.10
einops==0.4.1
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
etelemetry==0.3.1
executing==1.2.0
fastapi==0.104.1
fastjsonschema==2.19.1
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.0.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flatbuffers==23.3.3
fonttools==4.38.0
frozenlist==1.4.0
fsspec==2023.12.1
gast==0.4.0
gensim==4.3.2
gitdb==4.0.12
GitPython==3.1.45
glcontext==3.0.0
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.175.0
google-auth==2.16.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gradio==3.41.2
gradio_client==0.5.0
graphviz==0.20.3
greenlet==2.0.2
grpcio==1.73.1
grpcio-status==1.71.2
h11==0.14.0
h2==4.2.0
h5py==3.8.0
hf-xet==1.1.5
hpack==4.1.0
httpcore==0.17.3
httplib2==0.22.0
httptools==0.6.4
httpx==0.24.1
huggingface-hub==0.33.2
humanfriendly==10.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.4
imbalanced-learn==0.8.0
imblearn==0.0
IMDbPY==2022.7.9
importlib-resources==6.1.1
importlib_metadata==8.7.0
incremental==24.7.2
ipykernel==6.25.2
ipython==8.15.0
isodate==0.6.1
isosurfaces==0.1.0
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.1.2
jax==0.4.6
jedi==0.19.0
Jinja2==3.1.2
jiter==0.7.1
jmespath==1.0.1
joblib==1.3.2
jose==1.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.3.1
jupyter_core==5.3.1
keras==2.12.0rc1
keras-utils==1.0.13
keyboard==0.13.5
Kivy==2.2.1
Kivy-Garden==0.1.5
kiwisolver==1.4.4
kubernetes==33.1.0
langcodes==3.3.0
lazy_loader==0.4
libclang==15.0.6.1
lightning-utilities==0.10.0
linkify-it-py==2.0.3
looseversion==1.3.0
lxml==4.9.3
macholib==1.16.3
Mako==1.3.5
manim==0.17.3
ManimPango==0.4.4
mapbox_earcut==1.0.3
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.7
missingno==0.5.2
mlxtend==0.23.0
mmh3==5.1.0
mne==1.10.1
moderngl==5.12.0
moderngl-window==2.4.4
mojicopy==1.1.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
multidict==6.0.4
multipledispatch==1.0.0
murmurhash==1.0.10
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==2.8.8
nibabel==5.3.2
nipype==1.10.0
nltk==3.8.1
node==1.2.1
noise==1.2.2
npm==0.1.1
numpy==1.26.4
oauthlib==3.2.2
odict==1.9.0
omegaconf==2.2.3
onnxruntime==1.22.0
openai==1.55.0
opencv-contrib-python==4.8.0.74
opencv-python==4.8.1.78
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-asgi==0.55b1
opentelemetry-instrumentation-fastapi==0.55b1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.55b1
opt-einsum==3.3.0
optional-django==0.1.0
orjson==3.10.18
outcome==1.2.0
overrides==7.7.0
packaging==23.0
pandas==2.3.1
parsel==1.10.0
parso==0.8.3
pathlib==1.0.1
pdf2image==1.17.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.10.0
plotly==5.17.0
plumber==1.7
pooch==1.8.2
portalocker==3.2.0
posthog==6.0.3
praw==7.8.1
prawcore==2.4.0
preshed==3.0.9
prompt-toolkit==3.0.39
Protego==0.4.0
proto-plus==1.26.1
protobuf==5.29.5
prov==2.0.1
psutil==5.9.5
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pulsar-client==3.7.0
pure-eval==0.2.2
puremagic==1.28
pyarrow==21.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.28.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydot==3.0.4
pydotplus==2.0.2
pydub==0.25.1
pygame==2.1.3.dev8
PyGetWindow==0.0.9
pygit2==1.12.2
pyglet==2.1.6
Pygments==2.19.2
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyMsgBox==1.0.9
PyMuPDF==1.25.4
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyOpenSSL==25.0.0
pyparsing==3.0.9
pyperclip==1.8.2
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyRect==0.2.0
pyrr==0.10.3
PyScreeze==0.1.28
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.1.1
python-multipart==0.0.6
pytorch-lightning==1.9.4
pytweening==1.0.4
pytz==2022.7.1
pywhatkit==4.6
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==25.1.1
qdrant-client==1.15.1
queuelib==1.7.0
rdflib==6.3.2
referencing==0.32.0
regex==2023.10.3
requests==2.28.2
requests-file==2.1.0
requests-oauthlib==1.3.1
rich==13.9.4
rpds-py==0.13.2
rsa==4.9
rubicon-objc==0.4.3
s3transfer==0.14.0
safetensors==0.5.3
scikit-learn==1.4.0
scipy==1.13.1
Scrapy==2.12.0
screeninfo==0.8.1
seaborn==0.13.0
selenium==4.13.0
selenium-stealth==1.0.6
semantic-version==2.10.0
sentence-transformers==2.7.0
service-identity==24.2.0
shellingham==1.5.4
simplejson==3.20.1
six==1.16.0
skia-pathops==0.7.4
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.0
softpy==0.0.5
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.21
srsly==2.4.8
srt==3.5.3
stack-data==0.6.2
starlette==0.27.0
streamlit==1.37.0
svgelements==1.9.6
sympy==1.12
tenacity==8.2.3
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc1
tensorflow-estimator==2.12.0rc0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
textual==0.66.0
thinc==8.2.2
threadpoolctl==3.2.0
tldextract==5.1.3
tokenizers==0.21.2
toml==0.10.2
toolz==0.12.0
torch==2.1.1
torchmetrics==1.2.1
torchsde==0.2.5
tornado==6.3.3
tqdm==4.67.1
traitlets==5.10.0
traits==7.0.2
trampoline==0.1.2
transformers==4.53.1
trio==0.22.2
trio-websocket==0.11.1
Twisted==24.11.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
uc-micro-py==1.0.3
ujson==5.11.0
uncertainties==3.2.2
undetected-chromedriver==3.5.5
update-checker==0.18.0
uritemplate==4.2.0
urllib3==1.26.15
uvicorn==0.24.0.post1
uvloop==0.21.0
virtualenv==20.25.0
w3lib==2.3.1
wasabi==1.1.2
watchdog==2.3.1
watchfiles==1.1.0
wcwidth==0.2.6
weasel==0.3.4
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
wikipedia==1.4.0
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xerox==0.4.1
xgboost==2.0.3
yarl==1.9.4
z3-solver @ file:///Users/pietrosaveri/Desktop/z3_solver-4.11.2.0-py2.py3-none-macosx_10_16_x86_64.whl
zipp==3.23.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
zope.lifecycleevent==5.0
zope.proxy==5.1
